@font-face {
  font-family: 'Open Sans';
  src: url('build/font-reg.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('build/font-bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

$ema-icon-size: 1.5rem;

$ema-c-select-list-size: 15rem;

$ema-lang-check-size: 2rem;

$ema-main-1: #E74011;
$ema-main-2: #EA5725;
$ema-main-5: #FEEFE6;
$ema-supplementary-1-2: #F28A25;
$ema-supplementary-2-2: #E7343D;
//$ema-supplementary-2-3: #F39A8B;
$ema-contrast-2: #00A18E;
//$ema-contrast-3: #8ACBC1;
$ema-black-2: #3C3C3B;
$ema-black-3: #9D9D9C;
//$ema-black-5: #EDEDED;

// bootstrap override
$body-bg: $ema-main-5;
$body-color: $ema-black-2;
$font-family-base: 'Open Sans', sans-serif;

$theme-colors: (
        "primary":    $ema-main-2,
        "secondary":  $ema-black-3,
        "success":    $ema-contrast-2,
        "warning":    $ema-supplementary-1-2,
        "danger":     $ema-supplementary-2-2
);

$headings-color: $ema-main-1;

$input-height: inherit;
