html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#app-container {
  background-color: $body-bg;
  min-height: 100vh;
}

.ema-page {
  width: inherit;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > .ema-body {
    flex-grow: 1;
  }
}

svg.badge.-icon {
  width: $ema-icon-size;
  height: $ema-icon-size;
}

.btn > svg {
  width: $ema-icon-size;
  height: $ema-icon-size;
}

input[type="text"]:disabled {
  background-color: white;
}

.list-group {
  .list-group-item.-highlight {
    background-color: $body-bg;
  }
}

.ema-bar {
  width: 100%;
  z-index: 10;
  height: 3rem;
  position: fixed;
  background-color: $ema-main-1;

  .-caption {
    font-size: 1.8rem;
    color: $white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ema-body {
  margin-top: 3rem;
  padding: map-get($spacers, 3);
  &.-white {
    background-color: $white;
  }
}

.ema-header {
  font-size: map-get($spacers, 4);
}

.ema-lang-check {
  width: $ema-lang-check-size;
  height: $ema-lang-check-size;
}

.ema-logo-ema {
  flex: 3 3;
}

.ema-logo-pin {
  flex: 1 1;
}

.ema-pin-logo {
  height: 9rem;
  > img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
  }
}

.ema-logo {
  height: 8em;
  > img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
  }
}

.ema-field-value {
  padding: map-get($spacers, 1) map-get($spacers, 2);
  background-color: white;
  //border: 1px solid #ced4da;
  //border-radius: 0.25rem;
}

.home-page-actions {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 1rem;
    height: 8rem;
  }

  .btn-action {
    width: 100%;
    height: 100%;
    padding: map-get($spacers, 2);

    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: start;
    //font-size: 150%;
    font-weight: bold;
    color: white;

    svg {
      fill: white;
      width: 2rem;
      height: 2rem;
    }
  }
}
