.ema-spinner {
  margin: 30px auto;
  width: 60px;
  height: 40px;
  text-align: center;

  > div {
    background-color: $ema-main-1;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin: 0 3px;

    -webkit-animation: ema-spinner-delay 1.2s infinite ease-in-out;
    animation: ema-spinner-delay 1.2s infinite ease-in-out;

    &.-r2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    &.-r3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    &.-r4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    &.-r5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }
}

@-webkit-keyframes ema-spinner-delay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes ema-spinner-delay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}